/* Carousel styling */

#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item:nth-child(1) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(2) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(3) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* Height for devices larger than 576px */

@media (min-width: 992px) {
    #introCarousel {
        margin-top: -58.59px;
    }
}

@media (max-width: 768px) {
    .align-items-center {
        align-items: center !important;
        width: 85%;
        margin: 0 auto;
    }
    .mobile-text h1 {
        font-size: 18px;
        font-weight: bold;
    }
    .mobile-text h5 {
        font-size: 14px;
    }
    .back-to-top {
        width: 50px;
    }
    .rowcss {
        margin-top: 0px !important;
    }
    .section_title,
    .colcss {
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
}

#main .section-img {
    position: relative;
    top: 130px;
}

@media (max-width: 926px) {
    #main .section-img {
        position: static;
    }
}

#main .section-text {
    border: #D97E32 5px solid;
}

#main .main-top p {
    font-size: 18px;
    color: rgb(80, 80, 80);
}

.section-heading,
.section-heading h2 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    display: inline-block;
    position: relative;
    text-align: center;
}

#main .main-top {
    background-image: url('/assets/img/homebg.jpg');
    background-size: contain;
    /* background-color:red; */
}

.discover-flair,
.strategic-growth {
    /* background-image: linear-gradient(45deg, #41B5EC 0%, #41B5EC 100%); */
    background-color: #72d2ff;
    /* border-radius: 20px; */
    padding: 10px;
    overflow: hidden;
}

.discover-flair {
    background-color: #D97E32;
}

.we-are-market .container,
.to-assist-clients .container,
.strategic-growth .container {
    background-image: url("{{ route('home') . '/assets/img/Path 401.png' }}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: 20% 100%;
}

.the-goal-is .container,
.discover-flair .container {
    background-image: url("{{ route('home') . '/assets/img/Path 402.png' }}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 20% 100%;
}

.we-are-market p,
.the-goal-is p,
.discover-flair p,
.strategic-growth p {
    font-size: 18px;
    text-align: justify;
    color: #000;
    font-weight: 500;
}

.to-assist-clients p {
    font-size: 20px;
    text-align: justify;
    color: #000;
    font-weight: 500;
}

.we-are-market img {
    width: 100%;
    border-radius: 20px 80px 20px 20px;
}

.the-goal-is img {
    width: 100%;
    border-radius: 80px 20px 20px 20px;
}

.to-assist-clients img {
    width: 100%;
    border-radius: 20px 80px 20px 20px;
}

ul {
    list-style: none;
}